body{
  
  height: 200px;
  background-color:#142ba172; 
  background-image: linear-gradient(rgb(251, 250, 250), rgba(120, 126, 247, 0.138));
}


.facebook{
font-size:larger;
background-color: #142ba1cd;height: 100px;width: 1200px;
text-align: center;
margin-left: auto;
margin-right: auto;
box-shadow: 10px 10px 5px rgb(113, 113, 113);
  border-radius: 25px;
  
}

.buttons{
position: relative;
top: 65px;
left: 250px;
}

.email{
  padding-left: 10px;
}

.password{
  padding-left: -200px;
}

.fbtext{
    font-size: larger;
    @font-face{
    font-family: CHERL___.ttf;
    src: url(../Style/CHERL___.ttf);
    }
	
    
    
    
   
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 180px;
    margin-top: -100px;
}

.quote{
    font-size: 30px;
    position: relative;
    top: 90px;
    left: 50px;
    font-style: bold;
    color: rgb(6, 21, 135);
}

.img{
  margin-left: 10px;
  position: relative;
  margin-top: 150px;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(252, 252, 252);
  color: rgb(48, 47, 47);
  text-align: left;
  padding-left: 85px;
  padding-top: 30px;
  font-style:bold ;

}
.signup{
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(6, 21, 135);
  text-align: right;
  margin-right: 300px;
  margin-top: -350px;
  font-style: bold;
  
}

.inn{
  margin-left: 80px;
  margin-top: -50px;
  color: rgb(6, 21, 135);
}

.content{
  float:right;
  font-size: 20px;
  margin-top: 0px ;
  margin-left: 80px;
  

  
  padding-top: 5px;
  width: 50%;
  position: relative;
  left: 200px;
}

.rightfooter{
  font-size: 15px;
position: relative;
  margin-top: 420px;
  margin-left: 1200px;
  color: rgb(47, 84, 246);

}
